main {
    height: 80%;
    width: 500px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

#cards{
    display: flex;
    align-items: center;
    justify-content: center;

    margin : 80px 90px 60px 80px;
}

.card{
    position: absolute;
    aspect-ratio: 2 / 3;
    border-radius: 10px;

    overflow: hidden;

    transition: transform 500ms cubic-bezier(0,.88,.39,1);
}

.big{
    height : 400px;
}

.small{
    height: 100px;
}

.big:nth-child(1){
    background-color: rgb(4, 1, 17);
    transform: translate(-10px, 2px) rotate(-1deg);
}

.big:nth-child(2){
    transform: translate(6px, -4px) rotate(1deg);
}

.big:nth-child(3){
    transform: translate(0px, 6px) rotate(-3deg);
}

.big:nth-child(4){
    transform: translate(18px, 6px) rotate(6deg);
}

/* CARDS HOVER */

.card:hover {
    border: 3px solid #D90076;
    cursor: pointer;
}

#cards:hover .card{
    transition: transform 1500ms cubic-bezier(0,.88,.39,1);
}

#cards:hover .big:nth-child(1){
    transform: translate(-330px, 80px) rotate(-21deg);
}

#cards:hover .big:nth-child(2){
    transform: translate(-110px, 10px) rotate(-8deg);
}

#cards:hover .big:nth-child(3){
    transform: translate(110px, 10px) rotate(8deg);
}

#cards:hover .big:nth-child(4){
    transform: translate(330px, 80px) rotate(21deg);
}

/* ACTIONS */

#actions{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 100px;
}

#actions button{
    --button-interior-margin : 30px;
    position: relative;
    background-color: transparent;

    width : 100px;
    height : 100px;

    border: 3px solid var(--text);
    border-radius: 100%;

    color: var(--text);
}

#actions button:hover{
    cursor: pointer;
}

#actions button i{
    font-size: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#actions button#reject {
    margin-right: var(--button-interior-margin);
}

#actions button#like {
    margin-left: var(--button-interior-margin);
    color : #D90076;
    border-color: #D90076;
}

#actions button#reject:hover {
    color : #e91818;
    border-color: #e91818;
}

#actions button#like:hover {
    color : #A90076;
    border-color: #A90076;
}

#actions button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #333;
    transition: all 0s ease-in-out
}

#actions button:active::before{
    width: 100%;
    height: 100%;
    transition: all 200ms ease-in-out ;
}
