main {
    height: 80%;
    width: 500px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

#cards{
    display: flex;
    align-items: center;
    justify-content: center;

    margin : 80px 90px 60px 80px;
}

.card{
    position: absolute;
    aspect-ratio: 2 / 3;
    border-radius: 10px;

    overflow: hidden;

    transition: transform 300ms ease-out;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    box-shadow: inset 0px 0px 12px rgb(31, 31, 31);
}

.big{
    height : 400px;
}

.small{
    height: 150px;
}

.card:nth-child(2){
    transform: translate(-10px, 2px) rotate(-1deg);
}

.card:nth-child(4){
    transform: translate(6px, -4px) rotate(1deg);
}

.card:nth-child(6){
    transform: translate(0px, 6px) rotate(-3deg);
}

.card:nth-child(8){
    transform: translate(18px, 6px) rotate(6deg);
}

/* CARDS HOVER */

.card:hover {
    border: 2px solid var(--like);
    box-shadow: 0 0 10px var(--like);
    cursor: pointer;
}

#cards:hover .card{
    transition: transform 1500ms cubic-bezier(0,.88,.39,1);
}

#cards:hover .card:nth-child(2){
    transform: translate(-330px, 80px) rotate(-21deg);
}

#cards:hover .card:nth-child(4){
    transform: translate(-110px, 10px) rotate(-8deg);
}

#cards:hover .card:nth-child(6){
    transform: translate(110px, 10px) rotate(8deg);
}

#cards:hover .card:nth-child(8){
    transform: translate(330px, 80px) rotate(21deg);
}

#cards:hover .card:nth-child(1){
    transform: translate(360px, 340px) rotate(12deg);
}

#cards:hover .card:nth-child(3){
    transform: translate(300px, -180px) rotate(-14deg);
}

#cards:hover .card:nth-child(5){
    transform: translate(-220px, -220px) rotate(16deg);
}

#cards:hover .card:nth-child(7){
    transform: translate(-280px, 320px) rotate(-8deg);
}

.holo {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);

    display: flex;
    align-items: flex-end;

    opacity: 0;
    transition: opacity 200ms ease;
}

.holo p{
    margin-left: 10px;
    font-size: 22px;
}

.card:hover .holo{
    opacity: 1;
}



/* ACTIONS */

#actions{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-bottom: 100px;
}

#actions button{
    --button-interior-margin : 30px;
    position: relative;
    background-color: transparent;

    width : 100px;
    height : 100px;

    border: 3px solid var(--text);
    border-radius: 100%;

    color: var(--text);
}

#actions button:hover{
    cursor: pointer;
}

#actions button i{
    position: absolute;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

#actions button#reject {
    margin-right: var(--button-interior-margin);
}

#actions button#like {
    margin-left: var(--button-interior-margin);
    color : var(--like);
    border-color: #D90076;
}

#actions button#reject:hover {
    color : var(--dislike);
    border-color: var(--dislike);
}

#actions button#like:hover {
    color : var(--like-light);
    border-color: var(--like-light);
    box-shadow: 0 0 20px var(--like), inset 0 0 20px var(--like);
}

#actions button#like:hover i {
    text-shadow: 0 0 15px var(--like);
}


#actions button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    transition: width 80ms ease-out, height 80ms ease-out, background-color 400ms ease-in-out;
    box-shadow: inset 0 0 10px var(--background);
}

#actions button:active::before{
    width: 0;
    height: 0;
    transition: 0s ;
    background-color: #333;
}
