body {
    --background : #1b1b1b;
    --surface : #313131;
    --text : #c0c0c0;
    --like : #D90076;
    --like-light : #f53ebe;
    --dislike : #e91818;
    margin : 0;
    padding : 0;
    width : 100vw;
    height : 100vh;
    background-color: var(--background);

    display : flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

main {
    color : var(--text);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}